# Terraform
.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfvars
!terraform.tfvars.example
*.tfplan

# OS / editores
.DS_Store
.vscode/
*.swp
